@page
@model Raffel_Web.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Open Netsuite Entries</h1>

<p>
    <a asp-page="/Analytics/Revenue/index" style="background-color: #C2DAE7;" class="btn btn-sm">Estimated Revenue</a>
    <a asp-page="/Analytics/Revisions/index" style="background-color: #C2DAE7;" class="btn btn-sm">Open Revisions</a>
    <a asp-page="/Analytics/Netsuite/index" style="background-color: #C2DAE7;" class="btn btn-dark btn-outline-info btn-sm">Open Netsuite Entries</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].LEAD_NUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].PART_SUB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].MFG_COST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].PRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].LAST_UPDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].MANUFACTURER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].SALES_DES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].PURCHASE_INFO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].SUB_BY)
            </th>
           @*<th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].RENDER)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NetsuiteEntry[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NetsuiteEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LEAD_NUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PART_SUB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MFG_COST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAST_UPDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MANUFACTURER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SALES_DES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PURCHASE_INFO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUB_BY)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.RENDER)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
               
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
