<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@using Raffel_Web.Areas.Identity.Data
@inject SignInManager<Raffel_WebUser> SignInManager
@inject UserManager<Raffel_WebUser> UserManager

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Raffel_Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav style="background-color: #233e7c;" class="navbar navbar-expand-sm navbar-toggleable-sm bg-nav navbar-light  border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/lib/bootstrap/dist/css/Images/raffel brandmark.png" title="title" alt="additional title" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item" >
                                <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link text-light" asp-area="" asp-page="/ProjectView/Index">Project List</a>

                            </li>
                            <li class="nav-item" >
                                <a class="nav-link text-light" asp-area="" asp-page="/SalesSubmissions/Create">New Scope</a>

                            </li>
                            @if (ViewContext.HttpContext.User.IsInRole("Manager")) {

                                <li class="nav-item" >
                                    <a class="nav-link text-light" asp-area="" asp-page="/Pending/Index">Pending Approvals</a>
                                </li>
                            }
                        <li class="nav-item ">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-light " onclick="return confirm('Are you sure you want to log out?');">Logout</button>

                            </form>
                        </li>

                        }
                        else
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>

                        }
                    </ul>

                    




                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Raffel_Web - <a asp-area="" asp-page="/Privacy">Privacy</a> |
            <a asp-area="" asp-page="/Bugs">Report Bugs</a> |
            <a asp-area="" asp-page="/Suggestions">Suggestions</a> |
            <a asp-area="" asp-page="/Changelog">Version History</a>

        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
